@{
    Layout = null;
}

To: @ViewBag.To
From: biblioteka@lib.com
Subject: Resetowanie hasła do serwisu

<h3>
    Witaj,
</h3>

<h4>
    Twoje hasło zostało zresetowane.

    Kliknij poniższy link i postępuj zgodnie ze wskazówkami.
</h4>
<h3>
    http://localhost:53883/Account/ResetPassword/@ViewBag.PasswordResetToken
</h3>
