<fieldset id="control-panel">
    <legend>Panel zarządzania</legend>
    <nav>
    <ul id="management-menu">
        <li>@Html.ActionLink("Książki","IndexBookManagement","Book")</li>
        <li>@Html.ActionLink("Użytkownicy","Users","Account")</li>
        <li>@Html.ActionLink("Zarezerwowane","ReservationsManagement","Management")</li>
        <li>@Html.ActionLink("Wypożyczone","RentsManagement","Management")</li>
    </ul>
</nav>
</fieldset>