@{
    ViewBag.Title = "Potwierdzenie rejestracji";
}

<h2>Potwierdzenie rejestracji</h2>

<h3>Aby dokończyć proces rejestracji i rozpocząć korzystanie z biblioteki, zaloguj się na swoją skrzynkę pocztową i kliknij w przesłany link.</h3>