@{
    ViewBag.Title = "Potwierdzenie rejestracji";
}

<h2>Potwierdzenie rejestracji</h2>

<h3>Rejestracja Twojego konta została potwierdzona.</h3>

<h4>Aby rozpocząć korzystanie z serwisu, przejdź do @Html.ActionLink("strony logowania.","Login","Account")</h4>