@{
    ViewBag.Title = "Błąd";
}

<h2>Błąd</h2>

<h3>Aktywacja Twojego konta zakończyłą się niepowodzeniem.</h3>

<h4>Aby wygenerować nową wiadomość e-mail z linkiem aktywacyjnym kliknij @Html.ActionLink("tutaj.","ResendActivationEmail","Account")</h4>