@{
    ViewBag.Title = "Potwierdzenie zresetowania hasła";
}

<h2>Potwierdzenie zresetowania hasła</h2>

<h3>Twoje hasło zostało zresetowane. Zaloguj się na swoją skrzynkę pocztową i kliknij w przesłany link.</h3>