@{
    ViewBag.Title = "Nowy link aktywacyjny";
}

<h2>Nowy link aktywacyjny</h2>

<h3>Wiadomość e-mail z nowym linkiem aktywacyjnym została wysłana. Aby aktywowac konto zaloguj się na swoją skrzynkę pocztową i kliknij w przesłany link.</h3>